extends layout

block content
  .clearfix
  h1= book.title
  h3= book.fiction ? 'Fiction' : 'Non-Fiction'

  h2 Authors
  ol
    for author in book.authors
      li= author.name

  h2 Genres
  ol
    for genre in book.genres
      li= genre.name

  .clearfix
    form.form-horizontal(method='delete', id="delete-form" action='/books/'+book.id)
      fieldset
        div
          input.form-control(type='submit' value="Delete Book")

  .clearfix
    form.form-horizontal(method='get', id="update-form" action='/books/update/'+book.id)
      fieldset
        div
          input.form-control(type='submit' value="Update Book")
