extends layout

block content
  .clearfix
  h1 Books Listing
  p Welcome to the Library

  .clearfix
    if page > 1
      a(href="/?page="+(page-1)) Previous
    if page < 4
      a.pull-right(href="/?page="+(page+1)) Next

  table.table.table-striped
    thead
      tr
        th Title
        th Authors
        th Genres
    tbody
      for book in books
        tr
          td
            a(href="/books/"+book.id)= book.title
          td
            for author in book.authors
              p= author.name
          td
            for genre in book.genres
              p= genre.name


  .clear-fix
  if page > 1
    a(href='/?page='+(page -1)) Previous
  if page < 4
    a.pull-right(href='/?page='+(page +1)) Next
